---
layout: default
title: Home
---
<!-- Posts -->
<ul id="posts">

	{% for post in paginator.posts %}
	  <li class="post">
	  	<h2 class="document-title"><a href="{% if site.baseurl == "/" %}{{ post.url }}{% else %}{{ post.url | prepend: site.baseurl }}{% endif %}">{%if post.header %}{{ post.header }}{% else %}{{ post.title }}{% endif %}</a></h2>
      <time datetime="{{ post.date | date_to_xmlschema }}" class="by-line"> <i>{{ post.date | date_to_string }}</i> </time>
	  </li>	  
    {% endfor %}

</ul>

<div class="category-block-list">
	{% for collection in site.collections %}

		<div class="category-block" style="background-color: {{site.data.colors[forloop.index]}};">
			<h2 class="collection-label"><a href="#">{{ collection.label}}<a></h2>
		</div>
	{% endfor %}

</div>
