<script src="{{ "/js/main.js" | prepend: site.baseurl | replace: '//', '/' }}"></script>
<script type="text/javascript"
  src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>



<script type="text/x-mathjax-config">
//inline latex support
MathJax.Hub.Config({
  tex2jax: {
    inlineMath: [['$','$'], ['\\(','\\)']],
    processEscapes: true
  }
});
</script>

<script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      tex2jax: {
        skipTags: ['script', 'noscript', 'style', 'textarea', 'pre', 'code']
      }
    });
</script>

<link rel="stylesheet" href="{{ "/js/prettify/prettify.css" | prepend: site.baseurl | replace: '//', '/' }}" type="text/css" media="all">
<script src="{{"/js/prettify/prettify.js" | prepend: site.baseurl | replace: '//', '/' }}"></script>
<script type="text/javascript">
  $(function(){
    $("pre").addClass("prettyprint linenums");
    prettyPrint();
  });
</script>
