/*- Custom style -*/

// -- Put custom style under this point -- //
p {
  color:#7a7a7a;
}
.highlight  {
        background-color: rgb(36, 36, 36);
        border-radius:0.3em; 
        margin: 1em,1em;
        }
