<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html";charset="utf-8"/>
  <title>{{page.title}}</title>
  <link href="css/style.css" rel="stylesheet">
</head>
<body>
  <div class="header">
    <div class="heade_user">
      <span>Yee</span>
    </div>
    <div class="header_menu">
      <ul>
        <li><a href="#">Home</a>
        </li>
        <li><a href="#">About</a>
        </li>
        <li><a href="#">Category</a>
        </li>
      </ul>
    </div>
  </div>

  {{content}}
</body>
</html>
