---
layout: default
---
<article id="post-page">
	<h1>{%if page.header %}{{ page.header |  capitalize }}{% else %}{{ page.title |  capitalize }}{% endif %}</h1>
	<time datetime="{{ page.date | date_to_xmlschema }}" class="by-line">{{ page.date | date_to_string }}</time>
	<div class="content">

		{{ content }}

	</div>
</article>

<script type="text/javascript"> 
	var urls_items=window.location.href.split('/');
	var label=urls_items[urls_items.length-2]
	var re="/^imgs/";
	var img_item = document.getElementById("post-page").getElementsByClassName("content")[0].getElementsByTagName("img");

	for(var i=0;i<img_item.length;i++){
		img_item[i].src=label+"/"+img_item[i].src;
	}
</script>
